*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
}
#bg{
    background-image: url('https://images.unsplash.com/photo-1540497077202-7c8a3999166f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    height:100%;
    background-position: top;
}
#layer{
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.692)
}
#nav{
    width:100%;
    height:12%;
    background-color:rgba(7, 7, 7, 0.336);
}
#nav0{
    display:flex;
    justify-content: space-between;
    padding: 20px 100px;
}
#nav1 h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px;
    color:white;
}
#nav1 h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px;
    color:rgb(199, 154, 71);
    margin-left:5px;
}
#nav1{display: flex;}
#nav2{padding-top:5px;}
#nav2 a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    margin-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
#center{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#center>h3{
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 10px;
    margin-left:140px;
    color:rgb(196, 196, 196);
}
#tag{display:flex;}
#tag>h1{
    font-family:'Montserrat';  
    margin-left:10px;
    font-size:50px;
    color: white;
}
#nav2 button{
    background-color: rgb(224, 155, 63);
    width: 110px;
    height: 40px;
    color: white;
    border: none;
    margin-left: 20px;
    border-radius: 2px;
    cursor: pointer;
}
#center>button{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top:90px;
    color: white;
    background-color:orange;
    border:none;
    border-radius:2px;
    width:150px;
    height:40px;
    cursor:pointer;
}
#second{
    position: relative;
    width:100%;
    height:50%;
    background-color: rgb(255, 255, 255);
}
#second>h3{
    position: absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family:'montserrat';
    color: rgb(49, 49, 49);
    font-weight: 500;
}
#middle{
    display: flex;
    padding-top:100px;
    margin-left:510px;
}
#middle>h1{
    font-family:'montserrat';
    margin-left:5px;
}
#second>pre{
    margin-left: 300px;
    margin-top:20px;
    font-family: "Montserrat";
    line-height: 19px;
    font-size:15px;
    font-weight: 450;
    color: rgb(114, 114, 114);
}
#third{
    position:relative;
    width:100%;
    height:60%;
    background-image: url('https://images.unsplash.com/photo-1540496905036-5937c10647cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    background-position:bottom;
    margin-top:50px;
}
#third #content{
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
}
#content>h1{
    font-family:"montserrat";
    color:white;
    letter-spacing: 2px;
    margin-left: 25%;
    margin-bottom: 10px;
    margin-top:50px;
}
#content>pre{
    font-family:"Montserrat";
    color:white;
    font-size: 13px;
    font-weight:500;
}
#content>button{
    margin-left:42%;
    width:155px;
    height:45px;
    font-family:"Montserrat";
    background-color:orange;
    color:rgb(255, 255, 255);
    border:none;
    border-radius:2px;
    font-weight:500;
    margin-top: 20px;
    cursor: pointer;
}
#fourth{
    position: relative;
    width:100%;
    height:100%;
}
#fourth>h3{
    position: absolute;
    top:26%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: "Montserrat";
    font-weight:700;
    font-size: 30px;
}
#fourth>pre{
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: "Montserrat";
    font-weight:500;
    color:rgb(122, 122, 122);
}
#classes{
    display:flex;
}
#classes #left{
    width:30%;
    height:500px;
    margin:300px 100px;
    padding:20px;
}
#classes #right{
    width:50%;
    height:500px;
    margin:318px -90px;
}
#left .two{
    width:90%;
    height:19%;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 10px rgba(158, 158, 158, 0.39);
    padding:33px 55px;
    margin-bottom:30px;
}
#left h3{
    font-family: "montserrat";
    font-weight:600;
    color:rgb(112, 112, 112);
}
#left button{
    width:90%;
    height:12%;
    font-family:"Montserrat";
    font-weight:500;
    font-size:15px;
    color:white;
    border:none;
    border-radius:5px;
    background-color:rgb(233, 106, 60);
}
#right #image{
    width:100%;
    height:55%;
    Background-image:url('https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    background-position: center;
    background-size:cover;
    border:none;
    border-radius:5px;
}
#right h3{
    font-family:"Montserrat";
    font-weight:700;
    margin-top:30px;
    font-size:25px;
    color:rgb(32, 32, 32);
}
#right p{
    font-family:"Montserrat";
    font-weight:600;
    margin-top:20px;
    font-size:14px;
    line-height:20px;
    color:rgb(87, 87, 87);
}
#right button{
    margin-top:30px;
    width:160px;
    height:50px;
    font-weight:600;
    font-family:"montserrat";
    background-color:rgb(236, 98, 47);
    color:white;
    border:none;
}
#fifth{
    position: relative;
    width:100%;
    height:130%;
    background-image: url('https://images.unsplash.com/photo-1561214078-f3247647fc5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    margin-top:300px;
}
#fifth #layer{
    background-color:rgba(0, 0, 0, 0.856);
}
#fifth h1{
    position:absolute;
    top:15%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-family: "Montserrat";
}
#fifth pre{
    position:absolute;
    top:25%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: "Montserrat";
    color:rgb(231, 231, 231);
    font-weight:500;
}
#fifth h3{
    position:absolute;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: "Montserrat";
    color:rgb(219, 219, 219);
    font-weight:500;
}
#table{ padding:380px 280px;}
#table table,th,td,tr{
    border:2px solid rgb(187, 187, 187);
    height:50%;
    color:rgb(187, 187, 187);
    border-collapse:collapse;
}
#table th,td,tr{
    padding:30px 30px;
    font-family:"Montserrat";
}
#table th{
    font-weight:500;
    font-size:15px;
}
#table td{
    font-size:12px;
}
#sixth{
    position:relative;
    width:100%;
    height:100%;
}
#sixth>h1{
    position: absolute;
    top:25%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family:"Montserrat";
    font-weight:700;
    color: rgb(39, 39, 39);
}
#sixth>pre{
    position: absolute;
    top:35%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family:"Montserrat";
    font-weight:500;
    color:rgb(78, 78, 78);
    margin-bottom: 10px;
}
#sixth #trainers{
    position: absolute;
    top:50%;
    display:flex;
    justify-content: space-between;
    width:100%;
    height:90%;
    padding:0px 100px;
}
#trainers #trainer1{
    height:82%;
    width:27%;
    background-color:rgb(255, 255, 255);
    padding:41px 30px;
    box-shadow: 0px 0px 12px rgba(43, 43, 43, 0.24);
}
#trainers #trainer2{
    height:82%;
    width:27%;
    background-color:rgb(255, 255, 255);
    padding:41px 30px;
    box-shadow: 0px 0px 12px rgba(43, 43, 43, 0.24);
}
#trainers #trainer3{
    height:82%;
    width:27%;
    background-color:rgb(255, 255, 255);
    padding:41px 30px;
    box-shadow: 0px 0px 12px rgba(43, 43, 43, 0.24);
}
#trainer1 #img1{
    width:80;
    height:42%;
    border:none;
    border-radius:5px;
    background-image: url('https://images.unsplash.com/photo-1483721310020-03333e577078?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
    background-size:cover;
}
#trainer2 #img2{
    width:80;
    height:42%;
    border:none;
    border-radius:5px;
    background-image:url('https://images.unsplash.com/photo-1581009137042-c552e485697a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-size:cover;
}
#trainer3 #img3{
    width:80;
    height:42%;
    border:none;
    border-radius:5px;
    background-image:url('https://images.unsplash.com/photo-1470468969717-61d5d54fd036?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1366&q=80');
    background-size:cover;
}
#trainer1>h3{
    margin-top:20px;
    font-family:"Montserrat";
    color:rgb(218, 152, 67);
    font-size:16px;
}
#trainer1>h2{
    margin-top:15px;
    font-family:"Montserrat";
    color:rgb(66, 66, 66);
    font-size:20px;
}
#trainer1>p{
    margin-top:20px;
    font-family:"Montserrat";
    color:rgb(121, 121, 121);
    font-size:14px;
    font-weight:500;
}
#trainer1 #icons{
    display:flex;
}
#icons>i{
    margin-top:30px;
    font-size:22px;
    margin-left:10px;
    color:rgb(82, 82, 82);
}
#icons>e{
    margin-top:30px;
    font-size:22px;
    margin-left:-2px;
    color:rgb(82, 82, 82);
}
#trainer2>h3{
    margin-top:20px;
    font-family:"Montserrat";
    color:rgb(218, 152, 67);
    font-size:16px;
}
#trainer2>h2{
    margin-top:15px;
    font-family:"Montserrat";
    color:rgb(66, 66, 66);
    font-size:20px;
}
#trainer2>p{
    margin-top:20px;
    font-family:"Montserrat";
    color:rgb(121, 121, 121);
    font-size:14px;
    font-weight:500;
}
#trainer2 #icons{
    display:flex;
}
#icons>i{
    margin-top:30px;
    font-size:22px;
    margin-left:10px;
    color:rgb(82, 82, 82);
}
#icons>e{
    margin-top:30px;
    font-size:22px;
    margin-left:-2px;
    color:rgb(82, 82, 82);
}
#trainer3>h3{
    margin-top:20px;
    font-family:"Montserrat";
    color:rgb(218, 152, 67);
    font-size:16px;
}
#trainer3>h2{
    margin-top:15px;
    font-family:"Montserrat";
    color:rgb(66, 66, 66);
    font-size:20px;
}
#trainer3>p{
    margin-top:20px;
    font-family:"Montserrat";
    color:rgb(121, 121, 121);
    font-size:14px;
    font-weight:500;
}
#trainer3 #icons{
    display:flex;
}
#icons>i{
    margin-top:30px;
    font-size:22px;
    margin-left:10px;
    color:rgb(82, 82, 82);
}
#icons>e{
    margin-top:30px;
    font-size:22px;
    margin-left:-2px;
    color:rgb(82, 82, 82);
}